# gitignore 
node_modules
types
coverage
coverage.json
.DS_Store
build
yarn.lock

# folders
.coverage_artifacts/
.coverage_cache/
.coverage_contracts/
artifacts/
build/
cache/

# frameworks
.openzeppelin/.session

typechain/

# files
.solcover.js
